In [10]:
import pandas as pd

In [11]:
data = pd.read_csv("alt_fuel_stations (Jan 9 2024).csv")
data.head()

C:\Users\typjo\AppData\Local\Temp\ipykernel_19844\3331038493.py:1: DtypeWarning: Columns (6,16,20,31,33,43,46,52,57,58,60,62,65,67,69,71) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("alt_fuel_stations (Jan 9 2024).csv")

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,MD,NaN
1,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,NaN
2,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,HD,NaN
3,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3181,E,...,False,NaN,NaN,NaN,NaN,NaN,False,NaN,MD,NaN
4,CNG,Clean Energy - Logan International Airport,1000 Cottage St Ext,"From Route 1, take the first exit after Callah...",East Boston,MA,2128,NaN,866-809-4869,E,...,False,NaN,NaN,NaN,NaN,NaN,True,NaN,MD,NaN

In [12]:
# Creating a new data frame that only uses the data needed for the project 
df = data[['Fuel Type Code', 'City', 'State', 'Longitude', 'Latitude', 'Street Address']]
df.sample(10)

,Fuel Type Code,City,State,Longitude,Latitude,Street Address
6408,CNG,Houma,LA,-90.710145,29.577119,551 S Van Ave
18531,ELEC,Mission Woods,KS,-94.609667,39.034423,2000 Shawnee Mission Pkwy
79417,ELEC,Forks,WA,-124.384998,47.951731,101 North Forks Avenue
38160,ELEC,Atlanta,GA,-84.394386,33.808811,1968 Peachtree Rd NW
59293,ELEC,San Luis Obispo,CA,-120.641541,35.250038,3900 Broad St
11831,E85,Lawrenceburg,TN,-87.324250,35.260527,1609 N Locust Ave
22145,ELEC,Miami Beach,FL,-80.144090,25.794590,1900 Bay Road
58460,ELEC,King of Prussia,PA,-75.411561,40.088276,140 Valley Green Ln
15619,ELEC,San Jose,CA,-121.939254,37.378373,2585 Seaboard Ave
72155,ELEC,Los Angeles,CA,-118.233343,34.042190,1003 East 4th St

### Creating a column for regions

In [13]:
#creating array to store region data
west = ['WA', 'OR', 'ID', 'MT', 'WY', 'CA', 'NV', 'UT', 'CO', 'AK', 'HI']
southwest = ['AZ', 'NM', 'OK', 'TX']
southeast = ['AR', 'LA', 'MS', 'AL', 'GA', 'FL', 'SC', 'NC', 'TN', 'KY', 'VA', 'WV', 'MD', 'DE', 'PR' ]
northeast = ['PA', 'NJ', 'CT', 'RI', 'NY', 'VT', 'ME', 'NH', 'MA', 'DC']
midwest = ['ND', 'SD', 'NE', 'KS', 'MO', 'IA', 'MN', 'WI', 'MI','IL', 'IN', 'OH']

print(len(northeast) + len(southeast) + len(west) + len(southwest) + len(midwest))

#function that accepts state as input and maps according to array
def map_to_region(state):
    if state in west:
        return 'West'
    elif state in southwest:
        return 'Southwest'
    elif state in southeast:
        return 'Southeast'
    elif state in northeast:
        return 'Northeast'
    elif state in midwest:
        return 'Midwest'
    else:
        return 'Invalid'
    
#using .apply() to iterate through 
df['Region'] = df['State'].apply(map_to_region)
df.sample(10)

52

C:\Users\typjo\AppData\Local\Temp\ipykernel_19844\1904806680.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Region'] = df['State'].apply(map_to_region)

,Fuel Type Code,City,State,Longitude,Latitude,Street Address,Region
58230,ELEC,Tully,NY,-76.107485,42.798279,38 Clinton St,Northeast
61965,ELEC,Pawhuska,OK,-96.423170,36.845870,15316 Co Rd 4201,Southwest
27891,ELEC,Cedar Park,TX,-97.809632,30.473632,2801 S Lakeline Blvd,Southwest
2443,E85,Beaumont,CA,-116.970545,33.947057,886 Oak Valley Pkwy,West
3494,E85,Silver Spring,MD,-77.056307,38.998916,8710 Brookville Rd,Southeast
31101,ELEC,Clarksburg,NJ,-74.430077,40.157732,548 Monmouth Road,Northeast
66584,ELEC,Greer,SC,-82.199147,34.949223,13740 E Wade Hampton Blvd,Southeast
6996,E85,Homer Glen,IL,-87.931068,41.631555,14125 S Bell Rd,Midwest
55291,ELEC,Mission,TX,-98.289086,26.196942,2309 E Expressway 83,Southwest
8219,E85,Waterford,MI,-83.387288,42.691618,4960 Dixie Hwy,Midwest

In [14]:
df['Region'].value_counts()

Region
West         28620
Southeast    16788
Northeast    14172
Midwest      13922
Southwest     6740
Invalid         15
Name: count, dtype: int64

In [15]:
#Seeing where the invalid results are coming from
df.loc[df['Region'] == 'Invalid']

,Fuel Type Code,City,State,Longitude,Latitude,Street Address,Region
60892,ELEC,Long Beach,NaN,-164.848855,12.921876,3355 Las Vegas Blvd S,Invalid
70621,ELEC,Roanoke,NaN,-79.954480,37.251700,2203 Franklin Road Southwest,Invalid
71808,ELEC,Decatur,NaN,-97.586680,33.215299,2112 US-287,Invalid
74282,ELEC,Bangalore,NaN,31.991007,24.527271,"#123, Block 4, 50 Feet Road, Indira Nagar",Invalid
74941,ELEC,Bangalore,KA,76.433955,13.485924,"#123, Block 4, 50 Feet Road, Indira Nagar",Invalid
75272,ELEC,Boulder,NaN,-105.233532,40.024487,5064 Pearl St,Invalid
75273,ELEC,Boulder,NaN,-105.233441,40.024432,5064 Pearl St,Invalid
76123,ELEC,Marlboro,NaN,-74.308970,40.340656,23 Kilmer Dr,Invalid
76124,ELEC,Ashburn,NaN,-77.518454,38.960967,23710 Schooler Plz,Invalid
76125,ELEC,Ashburn,NaN,-77.518453,38.960979,23710 Schooler Plz,Invalid
77128,ELEC,Edmonds,NaN,122.373276,47.784476,23700 104th Avenue West,Invalid
77530,ELEC,Broomfield,NaN,-105.087555,39.917870,1480 W 1st Ave,Invalid
78228,ELEC,Englewood,NaN,104.996126,39.661904,3021 South Galapago Street,Invalid
78325,ELEC,Torrance,NaN,-118.355155,33.839303,21035 Hawthorne Blvd,Invalid
79291,ELEC,Quincy,NaN,-70.006705,42.245500,151 Granite St,Invalid

In [16]:
#Removing these invalid results since it is unclear
df = df[df['Region'] != 'Invalid']
df['Region'].value_counts()

Region
West         28620
Southeast    16788
Northeast    14172
Midwest      13922
Southwest     6740
Name: count, dtype: int64

In [17]:
#Checking for any missing values in columns

#Loops through each column of df and checks for missing values,
# prints a statement if there are

for column_name in df.columns:
    missing_count = df[column_name].isna().sum()
    if (missing_count > 0):
        print(f"In '{column_name}' there are {missing_count} missing values")

In 'City' there are 4 missing values
In 'Street Address' there are 34 missing values

In [18]:
#Filling the city with zero
df['City'].fillna('Unknown', inplace=True)
print(df['City'].isna().sum())

df['Street Address'].fillna('Unknown', inplace=True)
print(df['City'].isna().sum())

0
0

### Exporting to CSV

In [19]:
df.to_csv('alt_fuel_stations_prepped.csv', index=False)